.Answer{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1.5rem;
    font: x-large bold;
}
.Option{
    text-align: center;
    flex-basis: 48%;
    margin: .4rem 0;
    padding: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: grey;
}
.Option:hover{
    background-color: rgb(68, 65, 65);
}