.Answer{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1.5rem;
    font: x-large bold;
}
.Answer li{
    text-align: center;
    flex-basis: 48%;
    margin: .4rem 0;
    padding: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: grey;
    list-style: none;
}
.Answer li:hover{
    background-color: rgb(68, 65, 65);
    cursor: pointer;
}
.Answer .Right, .Answer .Right:hover{
    background-color: green;
}
.Answer .Wrong, .Answer .Wrong:hover{
    background-color: red;
}
.Answer[disabled]{
    pointer-events: none;
    opacity: 0.7;
}